@model GameInfo.Models.InputModels.AddGuideInputModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row container-fluid text-white" style="padding: 6px 30px 6px 30px;">
    <h2>Add a guide</h2>
</div>
<div class="row text-white">
    <form class="col-md-12" method="post" asp-controller="Guides" asp-action="Add">
        <div class="form-group col-md-4">
            <label asp-for="GuideTitle">Guide Title</label>
            <input asp-for="GuideTitle" class="form-control" placeholder="Guide Title...">
            <span asp-validation-for="GuideTitle" class="text-danger"></span>
        </div>
        <div class="form-group col-md-10">
            <label for="GuideContent">Guide Content</label>
            <p>
                <i>
                    Links are not supported and content with the symbols <b>&quot;&lt;&quot;</b> or <b>&quot;&gt;&quot;</b> will not be accepted.
                </i>
            </p>
            <textarea rows="20" cols="20" for="GuideContent" class="form-control" id="GuideContent" name="GuideContent" placeholder="Content...">
            </textarea>
        </div>
        <div class="form-group col-md-4 button-holder text-left">
            <button type="submit" class="btn">Submit guide</button>
        </div>
    </form>
    <div class="form-group col-md-12" style="padding-left: 30px">
        <form asp-controller="Guides" asp-action="Index">
            <button type="submit" class="btn">Back to all</button>
        </form>
    </div>
</div>