@model List<GameInfo.Models.ViewModels.ItemsAllViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="border: solid 1px white; border-radius: 10px; padding: 6px">
    @if (Model == null)
    {
        <h4 class="text-white text-center">No items have been added yet.</h4>
        <hr style="background-color: white" />
        <form class="text-center" asp-controller="Items" asp-action="Add" method="get">
            <button type="submit" class="btn">Add an item</button>
        </form>
    }
    else
    {
        <div class="row" style="padding: 4px 12px 4px 12px">
            @{ var counter = 2; }
            @foreach (var item in Model.OrderByDescending(x => x.Id))
            {
                if (counter % 3 == 0)
                {
                    <div class="col-lg-4 text-center" style="border-left: solid 1px white; border-right: solid 1px white">
                        <p class="text-white">
                            <b style="padding-right:4%">@item.Name</b>
                            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id" style="color:white">See details</a>
                        </p>
                    </div>
                }
                else
                {
                    <div class="col-lg-4 text-center">
                        <p class="text-white">
                            <b style="padding-right:4%">@item.Name</b>
                            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id" style="color:white">See details</a>
                        </p>
                    </div>
                }
                counter++;
           }
        </div>
        <hr style="background-color: white" />
        <div class="row">
            <div class="col-6">
                <form asp-controller="Items" asp-action="Add" method="get">
                    <button type="submit" class="btn">Add an item</button>
                </form>
            </div>
            <div class="col-6 text-right">
                <form asp-controller="Home" asp-action="Index" method="get">
                    <button type="submit" class="btn">Back to Index</button>
                </form>
            </div>
        </div>
    }
</div>
<br />