@model GameInfo.Models.InputModels.AddQuestToNPCInputModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row text-center text-white">
    <div class="form-group col-lg-12">
        <h4>Adding quest to: <i>@Model.NPCName</i></h4>
        <form asp-controller="NPCs" asp-action="AddQuest" method="post">

            <input type="hidden" asp-for="@Model.NPCId" />

            <label asp-for="QuestTitle">Quests:</label>
            <p>
                @{var quests = Model.Quests.Where(x => x.QuestGiver == null).OrderBy(x => x.QuestTitle).Select(x => x.QuestTitle).ToList(); }
                <select asp-for="QuestTitle" asp-items="@(new SelectList(quests))">Quests</select>
            </p>
            <button type="submit" class="btn">Add quest to NPC</button>
        </form>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <form asp-controller="NPCs" asp-action="Details" asp-route-id="@Model.NPCId">
            <button type="submit" class="btn">Back to NPC</button>
        </form>
    </div>
</div>
<br />